body {
    color: #444
}


/* PAGINA HOME */

audio {
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
}

@media(max-width:900px) {
    audio {
        width: 90%;
    }
}

.intro_entrevista {
    max-width: 660px;
    text-align: justify;
}

@media(max-width:900px) {
    .intro_entrevista {
        max-width: 330px;
        text-align: justify;
    }
}


/* PAGINA HOME */

audio {
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
}

@media(max-width:900px) {
    audio {
        width: 90%;
    }
}

.intro_entrevista {
    max-width: 660px;
    text-align: justify;
}

@media(max-width:900px) {
    .intro_entrevista {
        max-width: 330px;
        text-align: justify;
    }
}


/* PAGINA SERVICIOS */

.grid_services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 20px
}

@media(max-width:900px) {
    .grid_services {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0
    }
}

.item_link_info {
    color: #444
}


/* PAGINA SERVICIOS */


/* PAGINA REJUV CHIP */


/* #fold_rejuv_chip {
    
    } */

.image_fold {
    width: 100%;
    height: 100vh;
    background-image: url(/public/src/img/servicios/rejuv_chip_ordenador.png);
    background-size: cover;
    background-repeat: no-repeat
}

@media(max-width:900px) {
    .image_fold {
        background-position: right
    }
}

.central_text_rejuv_chip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.box_fold_rejuv_chip {
    text-align: center
}

#bg_aplication_rejuv_chip {
    width: 100%;
    height: 500px;
    background-image: url(/public/src/img/section_rejuv_chip.png);
    background-size: cover;
    background-repeat: no-repeat
}

.grid_doctora_presentation {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    color: #fff
}

@media(max-width:900px) {
    .grid_doctora_presentation {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0
    }
}

.presentation_doctora {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media(max-width:900px) {
    .presentation_doctora {
        margin: 0 auto;
        max-width: 90%
    }
}

.bg_benefits_rejuv_chip {
    background-image: url(/public/src/img/servicios/beneficios_rejuv_chip.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center */
}

.list_items {
    margin: 0 10px;
    list-style-image: url('/public/src/img/check.png');
}


/* PAGINA REJUV CHIP */


/* PAGINA BLOG */

#fold_blog {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* #nuevos_post{} */

.grid_nuevos_post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0 20px
}

@media(max-width:900px) {
    .grid_nuevos_post {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px 0
    }
}


/* PAGINA BLOG */


/* POST */

.container_post {
    margin: 0 auto;
    max-width: 750px
}

@media(max-width:900px) {
    .container_post {
        /* margin: 0 auto; */
        max-width: 340px
    }
}


/* POST */


/* SERVICIOS */

.nav_services_personalized {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@media(max-width:900px) {
    .nav_services_personalized {
        grid-template-columns: 1fr 1fr
    }
}

.box_nav_personalized {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.services_form_box {
    margin: 0 auto;
    max-width: 65%;
}

@media(max-width:900px) {
    .services_form_box {
        max-width: 100%
    }
}


/* SERVICIOS */

.form {
    margin: 0 auto;
    max-width: 65%
}

@media(max-width:900px) {
    .form {
        /* margin: 0 auto; */
        max-width: 100%
    }
}


/* .form_contact_api{

} */

.box_thanks {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(/public/src/img/gracias.png);
    background-size: cover
    /* color: #fff */
}